@mixin flex($align, $justify, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: 'PatrickHand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fff293;
  background-image: linear-gradient(315deg, #fff293 0%, #ffe884 74%);

  height: 100vh;
  @include flex(center, center, row);
}

button {
  width: 280px;
  margin-top: 20px;
  border: 0;
  border-radius: 20px;
  padding: 10px;
  background: #3fd8f3;
  color: #ffffff;
  transition: 0.5s;
  font-size: 18px;

  &:hover {
    background: #0eb9d8;
  }

  &:focus {
    outline: none;
  }

  .spinner {
    float: right;
    margin: 5px 6px 0 0;
  }
}

section {
  height: 100vh;
  width: 100%;
  overflow: auto;

  .loading {
    @include flex(center, center, column);
    
    img {
      margin-bottom: 20px;
    }
  }

  &.setup {
    @include flex(center, center, column);
  }

  &.question-section {
    padding: 0 20px;
    @include flex(center, space-evenly, column);
  }

  &.result {
    @include flex(center, center, column);

    img {
      margin-bottom: 20px;
    }
    
    h1 {
      text-align: center;
      font-size: 7vw;
    }
  }
}

@media (min-width: 768px) {
  section {
    margin: 0 15px;
    border-radius: 15px;

    .setup-container div select,
    .setup-container div button {
      width: 350px;
    }
  }
}

@keyframes animRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-300px);
    opacity: 0;
  }
}

@keyframes animLeft {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
